*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    color: #FFF;
    background: linear-gradient(61deg, #32160F 0%, #512C25 50.43%, #000 98.79%);
    background-repeat: no-repeat;

    font-family: Poppins;
    font-size: 62.5%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 auto;

    border: 1px solid red;
}

a {
    text-decoration: none;
}

button {
    font-family: Poppins;
    border: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 15rem;
    border-bottom: 1px solid #8C6553;
}

header ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    height: 3rem;
    align-items: center;
}

a li {
    font-size: 15px;
    font-weight: 700;
    color: #FFF;
}

li:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-bottom: 2px solid #8C6553;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    padding: 3rem 0;

    border: 1px dashed yellow;
}

main img {
    width: 600px;
    /* height: 500px; */
}

main h4 {
    font-size: 16px;
    font-weight: 700;

    color: #D8A661;
}

main h1 {
    font-size: 50px;
    font-weight: 700;
}

main div{
    border: 1px solid white;

}

main div p {
    max-width: 25rem;
    margin-bottom: 4rem;

    font-size: 16px;
    font-weight: 300;
}

main div button {
    width: fit-content;
    height: fit-content;
    padding: 1.2rem 2.8rem;
    border-radius: 31rem;

    background: #D8A661;
    
    filter: drop-shadow(0px 0px 8px #D8A661);
}

main button a {
    height: 100%;
    font-family: Poppins;
    font-size: 1rem;
    color: #000;
    font-style: normal;
    font-weight: 700;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15rem;

    border-radius: 5rem 5rem 0 0;
    
    background: #4E2A23;
    box-shadow: 0px -8px 25px 0px rgba(0, 0, 0, 0.30);

    position: relative;
    
}

footer button {
    position: absolute;
    top: -2.4rem;
    left: 9rem;

    width: 15.4rem;
    height: 4.9rem;

    border-radius: 5rem;
    background: #2C120D;
}

footer button a {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
}

footer span {
    font-weight: 700;
}

footer p {
    width: 317px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    margin: 5.2rem 0 5.2rem 9.4rem;
}

footer div {
    display: flex;
    align-items: center;
    gap: 2rem;


    position: absolute;
    top: -5rem;
    right: 8rem;

    animation
}

footer div img:hover{
    transform: scale(1..2);
}